.services-container {
  width: 100%;
  display: flex;
}

.services-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
}

.services-title {
  font-size: 24px;
  margin-bottom: 40px;
  color: #038B43;
}