.shopcart-container {
  display: flex;
}

.shop-cart-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
}

.shop-cart-title {
  font-size: 24px;
  color: #038B43;
  margin-bottom: 40px;
}